/*
Palette
tan - #B5BCAC
pastal - #59877F
forest - #104235
dark blue - #0F4149
black - #151C22
*/
html,
body {
    margin: 0;
    background-color: #B5BCAC;
}

h1 {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
}

p {
    font-family: 'Dongle', sans-serif;
    font-size: 2em;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 200px 0 200px;
}

a {
    text-decoration: none;
    color: #B5BCAC;
    font-family: 'Dongle', sans-serif;
    padding: 0 10px 0 10px;
}

.links{
    margin: 0 0 0 auto;
}

header {
    background-color: #0F4149;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px 100px 200px;
}

.hero-img {
    width: 400px;
    border-radius: 8px;
}

.header-left h1 {
    color: #B5BCAC;
    font-weight: 800;
}

.header-left p {
    color: #8e9486;
}

.header-left button {
    padding: 10px 20px;
    background-color: #59877F;
    border: none;
    border-radius: 8px;
    color: #B5BCAC;
}

.information-container {
    padding: 50px 100px;
    text-align: center;
}

.information-container h1 {
    color: #151C22;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-img-container {
    flex: 0 1 0;
}

.info-img-container p {
    margin: 0;
    color: #8e9486;
}

.info-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 8px solid #59877F;
}

.testimontial {
    padding: 100px;
    background-color: #59877F;
}

.calltoaction-container {
    background-color: #104235;
    margin: 100px 250px;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calltoaction-container-left h1 {
    color: #B5BCAC;
}

.calltoaction-container-left p {
    color: #8e9486;
    margin: 0;
}

footer {
    background-color: #0F4149;
    padding: 20px;
    margin: 0;
    text-align: center;
}

footer p {
    margin: 0;
}